body {
  font-family: Calibri, "Segoe UI", Arial, sans-serif;
  background-color: #f2eee8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h1 {
  font-family: 'Imperial Script', cursive;
  font-size: 34px;
  color: #6f7f6a;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #afc3b1;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #d9a3a0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

button:hover {
  background-color: #e7c6c1;
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  list-style: none;
  background-color: #f2eee8;
  margin: 8px 0;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

li:hover {
  transform: scale(1.02);
}

li:hover::before {
  background-color: #6f7f6a;
}

li .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

li .dot {
  width: 8px;
  height: 8px;
  background-color: #afc3b1;
  border-radius: 50%;
}

.delete-btn {
  background: none;
  border: none;
  color: #d9a3a0;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #6f7f6a;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.done .dot {
  background-color: #6f7f6a;
}

.footer {
  font-family: Calibri, sans-serif;
  font-size: 10px;
  text-align: center;
  color: #666;
  margin-top: 20px;
}

.footer a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}